.flight {
    border: 1px solid #D4D8DF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(42, 51, 69, 0.2);
    flex-basis: 22%;
    margin: 10px 10px 60px 10px;
}

.flight__header {
    position: relative;
    padding: 10px;
}

.flight__body {
    background-color: #E7E9EE;
    padding: 10px;
}

.flight__footer {
    /* background-color: #FFFDEF; */
    padding: 10px;
}

@media (max-width: 768px) {
    .flight {
        flex-basis: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .flight {
        flex-basis: 45%;
    }
}