.primary-button {
    display: inline-flex;
    align-items: center;
    background-color: #FF922E;
    border: none;
    border-radius: 8px;
    font-family: 'Muli', serif;
    font-weight: 600;
    padding: 15px 25px;
    margin: 0 10px;
}

.primary-button--selected {
    background-color: #fff;
}

.primary-button__icon {
    margin-right: 10px;
}

.secondary-button {
    display: inline-flex;
    background-color: #E7E9EE;
    border: none;
    border-radius: 20px;
    font-family: 'Muli', serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
}

.secondary-button__icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary-button--alternate {
    background-color: #fff;
    border: 2px solid #E7E9EE;
}

.secondary-button--alternate::before {
    content: '+';
    display: inline-block;
}

.secondary-button--circle {
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 5px;
}

.secondary-button--circle::after {
    content: attr(data-value);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}