.header {
    background-color: #1B74F9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.header__logo {
    display: inline-block;
}

.header--active {
    min-height: auto;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header--active .header__logo {
    position: absolute;
    left: 20px;
    width: 60px;
}

@media only screen and (max-width: 768px) {
    .header--active .header__logo {
        display: none;
    }
}