* {
  box-sizing: border-box;
}

.app {
  color: #2a3345;
  font-family: 'Muli', sans-serif;
  padding-top: 150px;

  &--ishome {
    padding-top: 0;
  }
}


@media (max-width: 768px) {
  .app {
    padding-top: 120px;

    &--ishome {
      padding-top: 0;
    }
  }
}

.appTitle {
  font-size: 1.5em;
}

.appIntro {
  font-size: large;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  min-height: 30px;
  text-align: center;
}

.controls {
  border-bottom: 1px solid #d4d8df;
  margin: 0 20px 30px;
  padding-bottom: 20px;
}

.emphasize {
  font-weight: 700;
}
