* {
  box-sizing: border-box;
}

.App {
  color: #2a3345;
  font-family: 'Muli', sans-serif;
  padding-top: 150px;
}

.App--ishome {
  padding-top: 0;
}

@media (max-width: 768px) {
  .App {
    padding-top: 120px;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.controls {
  border-bottom: 1px solid #d4d8df;
  margin: 0 20px 30px;
  padding-bottom: 20px;
}

.emphasize {
  font-weight: 700;
}
