* {
  box-sizing: border-box;
}

.App {
  color: #2A3345;
  font-family: 'Muli', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.controls {
  border-bottom: 1px solid #D4D8DF;
  margin: 0 20px 30px;
  padding-bottom: 20px;
}

.emphasize {
  font-weight: 700;
}