* {
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  font-family: 'Barlow Condensed' sans-serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.btn-primary {
  padding: 10px;
  background-color: rgba(135, 206, 250, 0.5);
  border: none;
  border-radius: 8%;
}

.btn-primary--selected {
  background-color: lightskyblue;
}

.btn-secondary {
  padding: 10px;
  background-color: rgba(176, 196, 222, 0.5);
  border: none;
  border-radius: 50%;
}

.btn-secondary--selected {
  background-color: lightsteelblue;
}

.emphasize {
  font-weight: 700;
}