.fixedSpacer {
    padding-top: 150px;
}

@media (max-width: 768px) {
    .fixedSpacer {
        padding-top: 120px;
    }
    .gutters {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.hSpacingRight {
    margin-right: 10px;
}

.vSpacing {
    margin: 20px 0;
}

.verticalCentre {
    align-items: center;
}

.horizontalCentre {
    justify-content: center;
}

.textCentre {
    text-align: center;
}

.hSpaceAround {
    margin: 0 40px;
}

.vSpaceAround {
    margin: 20px 0;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexRowSb {
    display: flex;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .flexMobileColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.noMargin {
    margin: 0;
}

.noMarginTop {
    margin-top: 0;
}

.noMarginBottom {
    margin-bottom: 0;
}
