.search {
    margin: 0 auto;
    max-width: 500px;
}

.search__name {
    font-family: 'Muli', serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.search__input {
    border: 1px solid #2A3345;
    font-family: 'Muli', serif;
    font-size: 16px;
    height: 60px;
    padding: 15px;
}